h1 {
  font-family: 'Cera GR Medium', Fallback, sans-serif !important;
  color: #5b5b5b;
  font-size: 2rem;
  margin: 21px 0 15px 0;
}

h2 {
  font-family: 'Cera GR Regular', Fallback, sans-serif !important;
  font-size: 1rem;
  color: #f38181;
  word-spacing: 2vw;
  text-align: left;
}

a {
  text-decoration: none;
  color: #f38181;
}
p {
  margin: 0 0 11px 0;
  text-transform: lowercase;
}

a:hover {
  text-decoration: none;
  color: #3375ae;
}

.greeting {
  font-family: 'Cera GR Regular', Fallback, sans-serif !important;
  max-width: 600px;
  line-height: 1.5;
  text-align: left;
}

.hello-container {
  position: absolute;
  width: 100%;
  overflow: scroll;
  height: 102vh;
}
.links {
  z-index: 2;
}

.location {
  font-family: 'Cera GR Light', Fallback, sans-serif !important;
  font-size: 1.5rem;
  margin: 0;
}

#name {
  font-family: 'Cera GR Bold', Fallback, sans-serif !important;
}

#intro {
  padding: 15vh 8vw 0 8vw;
}

#credit {
  font-family: 'Cera GR Light', Fallback, sans-serif !important;
  position: absolute;
  bottom: 0px;
  right: 32px;
  font-size: 0.8rem;
  color: #797979;
  text-align: right;
  margin: 0;
}

.projects {
  display: inline-block;
}

.project {
  margin: 5vw 0 5vw 0;
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 5vw;
  max-width: 1200px;
}

.project-img {
  width: 100%;
}

.project-info {
  font-family: 'Cera GR Light', Fallback, sans-serif !important;
  background-color: rgba(255, 255, 255, 0.5);
}

.project-name {
  margin: 0;
  font-size: 1.7rem;
}

.program {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-size: 0.75rem;
  color: #71c9ce;
  display: inline-block;
}

.skill {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-size: 0.75rem;
  color: #aa96da;
  display: inline-block;
}

.software {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
  font-size: 0.75rem;
  color: #fc5185;
  display: inline-block;
}

@media only screen and (max-width: 850px) {
  .project {
    display: block;
  }
}
