<div class="hello-container animated fadeIn">

  <div id="intro">
    <h1 id="hello">projects!</h1>
    <div class="projects">
      <div class="project" id="roomii">
        <img class="project-img" src="../assets/projects/roomii.png">
        <div class="project-desc">
          <h1 class="project-name">roomii</h1>
          <div class="project-info">
            <p>roomii is a concept for a mobile messaging application. </p>
            <p>i worked with <a href="http://jacqyalqueza.com" target="_blank">jacqy alqueza</a> to design a messaging
              platform
              designed to improve
              communication for people living with housemates. the app allows users to chat, send money, plan events,
              and share notes. the design is motivated by my experience living with crappy rooommates and how things
              would have been better if communication was improved. </p>

          </div>
        </div>
      </div>

      <div class="project" id="roomii">
        <img class="project-img" src="../assets/projects/csvreader.png">
        <div class="project-desc">
          <h1 class="project-name">csvreader</h1>
          <div class="project-info">
            <p>roomii is a concept for a mobile messaging application. </p>
            <p>i worked with <a href="http://jacqyalqueza.com" target="_blank">jacqy alqueza</a> to design a messaging
              platform
              designed to improve
              communication for people living with housemates. the app allows users to chat, send money, plan events,
              and share notes. the design is motivated by my experience living with crappy rooommates and how things
              would have been better if communication was improved. </p>

          </div>
        </div>
      </div>
      <!-- <div class="projects">
        <div class="project" id="roomii">
          <img class="project-img" src="../assets/projects/csvreader.png">
          <div class="project-desc">
            <h1 class="project-name">csv reader</h1>
            <div class="project-info">
              <p>roomii is a concept for a mobile messaging application. </p>
              <p>roomii is a messaging platform designed to
                improve
                communication for people living with housemates. the app allows users to chat, send money, plan events,
                and share notes. Wireframes are designed using Sketch and prototype is animated using Principle</p>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="project" id="csvreader">
      <img class="project-img" src="../assets/projects/csvreader.png">
      <div class="project-desc">
        <h1 class="project-name">CSV Reader</h1>
        <div class="project-info">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla praesentium et blanditiis quos pariatur
            nihil, incidunt natus assumenda necessitatibus labore. Incidunt tenetur harum dolores iste sed, ad, numquam
            dolore praesentium qui recusandae totam, non impedit. Eum, excepturi similique cumque inventore
            voluptatibus earum impedit officia nemo consequuntur vel ex fugit iusto!</p>
        </div>
      </div>
    </div> -->



    </div>

  </div>