<div class="hello-container animated fadeIn">

  <div id="intro">
    <h1 id="hello">projects!</h1>


    <div class="projects">
      <div class="project" id="roomii">
        <img class="project-img" src="../assets/projects/roomii.png">
        <div class="project-desc">
          <h1 class="project-name">roomii</h1>
          <div class="project-info">
            <p>roomii is a concept for a mobile messaging application. </p>
            <p>i worked with <a href="http://jacqyalqueza.com" target="_blank">jacqy alqueza</a> to design a messaging
              platform
              designed to improve
              communication for people living with housemates. the app allows users to chat, send money, plan events,
              and share notes. the design is motivated by my experience living with crappy rooommates and how things
              would have been better if communication was improved. </p>
            <span class="skill">[UX Research]</span>
            <span class="skill">[UI Design]</span>
            <span class="program">[Sketch]</span>
            <span class="program">[Principle]</span>

          </div>
        </div>
      </div>

      <div class="project" id="csvreader">
        <img class="project-img" src="../assets/projects/csvreader.png">
        <div class="project-desc">
          <h1 class="project-name">csv reader</h1>
          <div class="project-info">
            <p>csv reader is a web application to plot csv files. </p>
            <p>i built a simple angular 6 application to load csv files and plot them on a multiseries line chart using
              chart.js. the design follows the material design guidelines and utilizes material design lite styles. the
              application features the ability to edit csv files directly on the webpage as well as export any changes
              made to the csv file.</p>
            <span class="software">[Angular 6]</span>
            <span class="software">[Chart.js]</span>
            <span class="skill">[UI Design]</span>
            <span class="skill">[Material Design]</span>
            <span class="program">[Sketch]</span>


          </div>
        </div>
      </div>

    </div>
  </div>