<div class="page">
  <particles *ngIf="showParticle" class="particle" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="particle-switch">
    <!-- <label class="switch">
      <input type="checkbox" checked (change)="toggleParticle()">
      <span class="slider round"></span>
    </label> -->

    <div class="onoffswitch">
      <input checked (change)="toggleParticle()" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
        checked>
      <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>

  </div>



  <nav class="nav-link">
    <h2 class="links">
      <a *ngIf="!projects" (click)="toggleProjects()" class="animated fadeIn"> projects</a>
      <a *ngIf="projects" (click)="toggleProjects()" class="animated fadeIn"> home</a>

    </h2>
  </nav>
  <app-hello *ngIf="!projects"></app-hello>
  <app-projects *ngIf="projects"></app-projects>



</div>
