<div class="page">
  <particles class="particle" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

  <nav>
    <h2 class="links">
      <a *ngIf="!projects" (click)="toggleProjects()"> projects</a>
      <a *ngIf="projects" (click)="toggleProjects()"> home</a>

    </h2>
  </nav>
  <app-hello *ngIf="!projects"></app-hello>
  <app-projects *ngIf="projects"></app-projects>


  <h3 id="credit">(under construction)
    <br>designed & developed by kevin tran 2018</h3>
</div>