.page {
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Cera GR Regular', Fallback, sans-serif !important;
  font-size: 0.9rem;
  color: #f38181;
  text-align: right;
  position: fixed;
  right: 5vw;
  top: 1.5vw;
  z-index: 2;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #3375ae;
}

.page:after {
  content: ' ';
  display: block;
  clear: both;
}

#credit {
  font-family: 'Cera GR Light', Fallback, sans-serif !important;
  position: absolute;
  bottom: 0px;
  right: 32px;
  font-size: 0.8rem;
  color: #797979;
  text-align: right;
  margin: 0;
}
