.page {
  margin: 0;
  padding: 0;
}

nav {
  font-family: 'Cera GR Regular', sans-serif !important;
  font-size: 0.9rem;
  color: #f38181;
  text-align: right;
  position: fixed;
  right: 5vw;
  top: 0px;
  z-index: 2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #3375ae;
}

.onoffswitch {
  position: relative;
  width: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 15px;
  padding: 0;
  line-height: 15px;
  border: 0px solid #ffffff;
  border-radius: 21px;
  background-color: #ffadad;
}
.onoffswitch-label:before {
  content: '';
  display: block;
  width: 21px;
  margin: -3px;
  background: #ff8585;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  border-radius: 21px;
  /* box-shadow: 0 6px 12px 0px #757575; */
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #c5f3eb;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #c5f3eb;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #95e1d3;
  /* box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2); */
}

.particle-switch {
  position: fixed;
  left: 8vw;
  top: 24px;
  z-index: 2;
}

#credit {
  font-family: 'Cera GR Light', sans-serif !important;
  position: absolute;
  bottom: 0px;
  right: 32px;
  font-size: 0.8rem;
  color: #797979;
  text-align: right;
  margin: 0;
}
