<!-- <div class="bio">
  <div style='float:left'>
    <h4>BACKGROUND</h4>
    <div>
      <p>I'm currently a Software Engineer (Co/Op) at
        <span class="bold">Western Digital</span> making awesome web applications and machine learning models. I'm finishing up my undergraduate
        at
        <span class="bold">San Jose State University</span> in Computer Engineering.
      </p>
      <p>Although my degree is in Computer Engineering, my passion is in Software Engineering. I enjoy combining my knowledge
        of engineering with design to create amazing experiences for users.</p>
      <p>
        <span class="bold">When I'm not sitting in front of the computer,</span> I enjoy biking, working on my car, and taking awesome pictures.</p>
    </div>
  </div>
</div>
<div class="bio">
  <div style='float:left'>
    <h4>SKILLS</h4>
    <div>
      <p>I'm currently a Software Engineer (Co/Op) at
        <span class="bold">Western Digital</span> making awesome web applications and machine learning models. I'm finishing up my undergraduate
        at
        <span class="bold">San Jose State University</span> in Computer Engineering.
      </p>
      <p>Although my degree is in Computer Engineering, my passion is in Software Engineering. I enjoy combining my knowledge
        of engineering with design to create amazing experiences for users.</p>
      <p>
        <span class="bold">When I'm not sitting in front of the computer,</span> I enjoy biking, working on my car, and taking awesome pictures.</p>
    </div>
  </div>
</div>
 -->
<div class="bio">
  <div class="bio-title">
    <br>BACKGROUND</div>
  <div class="bio-content">
    I'm currently a Software Engineer (Co/Op) at
    <span class="bold">Western Digital</span> making awesome web applications and machine learning models. I'm finishing up my undergraduate
    at
    <span class="bold">San Jose State University</span> in Computer Engineering.

    <p>Although my degree is in Computer Engineering, my passion is in Software Engineering. I enjoy combining my knowledge
      of engineering with design to create amazing experiences for users.</p>
    <p>
      <span class="bold">When I'm not sitting in front of the computer,</span> I enjoy biking, working on my car, and taking goofy pictures.</p>
  </div>
</div>
<!-- 
<div class="bio">
  <div class="bio-title">
    <br>SKILLS</div>
  <div class="bio-content">
    <div class="lists">
      <ul style="width:10%; float:left;">
        <li>languages</li>
        <li *ngFor="let language of languages">{{language}}</li>
      </ul>

      <ul style="width:10%; float:left;">
        <li>3</li>
        <li>4</li>
      </ul>
    </div>
  </div>
</div> -->