<div class="bio">
  <div style='float:left'>
    <h4>BACKGROUND</h4>
    <div>
      <p>I'm currently a Software Engineer (Co/Op) at
        <span class="bold">Western Digital</span> making awesome web applications and machine learning models. I'm finishing up my undergraduate
        at
        <span class="bold">San Jose State University</span> in Computer Engineering.
      </p>
      <p>Although my degree is in Computer Engineering, my passion is in Software Engineering. I enjoy combining my knowledge
        of engineering with design to create amazing experiences for users.</p>
      <p>
        <span class="bold">When I'm not sitting in front of the computer,</span> I enjoy biking, working on my car, and taking awesome pictures.</p>
    </div>
  </div>
</div>
<!-- <div class="bio">
  <div style='float:left'>
    <h4>SKILLS </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at nibh egestas, consequat dui ac, sagittis dolor.
      Suspendisse mollis ipsum ac orci vulputate interdum. Etiam id laoreet ligula. Sed nec est maximus, lobortis urna sit
      amet, molestie purus. Donec tristique tempus quam, in cursus erat lacinia ut. Duis tempor justo et pharetra laoreet.
      Phasellus maximus, nunc lobortis ultrices maximus, purus justo bibendum erat, ut tincidunt elit urna eu purus. Donec
      at mauris pretium, pulvinar mi at, pretium velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam
      ut nulla eu justo </p>
  </div>
</div> -->