<div class="bio">
  <div style='float:left'>
    <h4>BACKGROUND</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at nibh egestas, consequat dui ac, sagittis dolor.
      Suspendisse mollis ipsum ac orci vulputate interdum. Etiam id laoreet ligula. Sed nec est maximus, lobortis urna sit
      amet, molestie purus. Donec tristique tempus quam, in cursus erat lacinia ut. Duis tempor justo et pharetra laoreet.
      Phasellus maximus, nunc lobortis ultrices maximus, purus justo bibendum erat, ut tincidunt elit urna eu purus. Donec
      at mauris pretium, pulvinar mi at, pretium velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam
      ut nulla eu justo </p>
  </div>
</div>
<div class="bio">

  <div style='float:left'>
    <h4>SKILLS</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at nibh egestas, consequat dui ac, sagittis dolor.
      Suspendisse mollis ipsum ac orci vulputate interdum. Etiam id laoreet ligula. Sed nec est maximus, lobortis urna sit
      amet, molestie purus. Donec tristique tempus quam, in cursus erat lacinia ut. Duis tempor justo et pharetra laoreet.
      Phasellus maximus, nunc lobortis ultrices maximus, purus justo bibendum erat, ut tincidunt elit urna eu purus. Donec
      at mauris pretium, pulvinar mi at, pretium velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam
      ut nulla eu justo </p>
  </div>
</div>