h1 {
  font-family: 'Cera GR Medium', Fallback, sans-serif !important;
  color: #5b5b5b;
  font-size: 2rem;
}

h2 {
  font-family: 'Cera GR Regular', Fallback, sans-serif !important;
  font-size: 1rem;
  color: #f38181;
  word-spacing: 2vw;
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #3375ae;
}

.greeting {
  font-family: 'Cera GR Regular', Fallback, sans-serif !important;
  max-width: 600px;
  line-height: 1.5;
  text-align: left;
}

.hello-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#name {
  font-family: 'Cera GR Bold', Fallback, sans-serif !important;
}

#intro {
  padding: 15vh 8vw 0 8vw;
}

#credit {
  font-family: 'Cera GR Light', Fallback, sans-serif !important;
  position: absolute;
  bottom: 0px;
  right: 32px;
  font-size: 0.8rem;
  color: #797979;
  text-align: right;
  margin: 0;
}
